* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Borel", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Slab", serif;
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0, 0, 8);
  border-bottom: 1px solid rgb(57, 240, 253);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-sizing: border-box;
}

.navbar .navbar-logo {
  padding-top: 8px;
  padding-left: 11px;
  font-size: 25px;
  font-family: "Borel", cursive;
  color: white;
}

.navbar .navbar-logo span {
  color: rgb(57, 240, 253);
}

.navbar-nav > a {
  color: white;
  display: inline;
  margin: 10px;
  font-size: 17px;
  font-family: "Roboto Slab", serif;
}

.navbar .navbar-nav a:hover {
  color: rgb(57, 240, 253);
  transition: 0.6s;
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5px;
  padding: 10px;
}

.navbar .navbar-extra a :hover {
  color: rgb(57, 240, 253);
  transition: 0.6s;
  padding-top: 2px;
}

#hamburger-menu {
  display: none;
}

/* media conten */
.hero {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.conten {
  display: flex;
  justify-content: space-between;
}

.imgconten {
  margin-left: 300px;
  width: 310px;
  height: 310px;
  background-color: white;
  border-radius: 20%;
  box-shadow: 10px 10px 5px 0px rgba(170, 170, 170, 0.281);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(173, 173, 173, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(177, 177, 177, 0.75);
}
.imgconten img {
  width: 300px;
  height: 300px;
}

.contentext {
  margin-left: 150px;
}

.contentext h2,
a {
  color: white;
  padding-left: 30px;
  padding-top: 50px;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
}

.contentext span {
  color: rgb(57, 240, 253);
  font-family: "Borel", cursive;
}

.texta {
  font-size: 1rem;
  color: aqua;
}
.contentext a {
  display: inline-block;
  padding-top: 2px;
}

.texta:hover {
  color: white;
  transition: 0.6s;
}

#facebook {
  padding-left: 6px;
}

#globe {
  padding-left: 6px;
}

#globe:hover {
  color: rgb(81, 215, 248);
  transition: 0.4s;
}

#facebook:hover {
  color: blue;
  transition: 0.4s;
}

#instagram:hover {
  color: rgb(255, 116, 248);
  transition: 0.4s;
}

/* menida queris */

/* leptop */

@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}
/* tablet */

@media (max-width: 768px) {
  html {
    font-size: 62, 5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
  }
  .navbar-nav .navbar-logo {
    font-size: 1.4rem;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 20rem;
    height: 100vh;
    transition: 0.7s;
  }

  .navbar .navbar-nav.active {
    right: 0;
    transition: 0.3s;
    font-family: "Roboto Slab", serif;
    background-color: rgb(0, 0, 0);
  }

  .navbar .navbar-nav a {
    color: rgb(240, 238, 238);
    display: block;
    font-size: 1.2rem;
    padding-top: 2PX;
  }

  .navbar .navbar-nav a:hover {
    transition: 0.3s;
  }

  .conten {
    box-sizing: border-box;
    flex-wrap: wrap;
    display: inline-block;
    flex-direction: column;
   margin-bottom: 100px;
  }

  .imgconten {
    width: 200px;
    height: 200px;
    margin-top: 50px;
  }

  .imgconten img{
    width: 190px;
    height: 190px;
  }

.contentext h2{
  display: block;
  padding-top: 2px;
  font-size: 1.8rem;
}

}

/* mobaline hp */
@media (max-width: 450px) {
  html {
    font-size: 1.2rem;
  }
}
